#RecruitQueue {
    input[type="text"],
    input[type="number"],
    select {
        color: #000;
        min-width: 70%;
    }

    .settings {
        .helper {
            font-weight: bold;
            vertical-align: -1px;
            font-family: helvetica;
            color: rgba(0, 0, 0, 0.3);

            &:hover {
                color: #000;
            }
        }

        .custom-select {
            width: 200px;
        }

        td {
            text-align: center;
        }
    }

    .recruitLog {
        td {
            text-align: center;
        }
        
        .village:hover {
            color: #fff;
            text-shadow: 0px 1px 0 #000;
        }
    }

    table.header-center th {
        text-align: center;
    }

    .noRecruits td {
        height: 26px;
        text-align: center;
    }

    .force-26to20 {
        transform: scale(0.8);
        width: 20px;
        height: 20px;
    }
	
    .dataUnit1 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit2 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit3 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit4 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit5 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit6 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit7 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit8 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit9 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit10 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit11 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit12 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit13 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit14 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit15 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit16 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit17 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit18 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit19 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .dataUnit20 {
        width: 120px;
        
        .custom-select-handler {
            text-align: left;
        }
    }
	
    .custom-select {
        width: 240px;
    }
	
    .preset1 {
        width: 175px;
    }
	
    .preset2 {
        width: 175px;
    }
	
    .preset3 {
        width: 175px;
    }
	
    .preset4 {
        width: 175px;
    }
	
    .group1 {
        width: 175px;
    }
	
    .group2 {
        width: 175px;
    }
	
    .group3 {
        width: 175px;
    }
	
    .group4 {
        width: 175px;
    }
	
    .group5 {
        width: 175px;
    }
	
    .group6 {
        width: 175px;
    }
	
    .group7 {
        width: 175px;
    }
	
    .group8 {
        width: 175px;
    }
	
    .group9 {
        width: 175px;
    }
	
    .group10 {
        width: 175px;
    }
	
    .group11 {
        width: 175px;
    }
	
    .group12 {
        width: 175px;
    }
	
    .group13 {
        width: 175px;
    }
	
    .group14 {
        width: 175px;
    }
	
    .group15 {
        width: 175px;
    }
	
    .group16 {
        width: 175px;
    }
	
    .group17 {
        width: 175px;
    }
	
    .group18 {
        width: 175px;
    }
	
    .group19 {
        width: 175px;
    }
	
    .group20 {
        width: 175px;
    }
	
    .group21 {
        width: 175px;
    }
	
    .group22 {
        width: 175px;
    }
	
    .group23 {
        width: 175px;
    }
	
    .group24 {
        width: 175px;
    }
}
