<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("recruiter", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-three-col">
            <div class="tab" tab="presets">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("recruiter", "presets") #></a></div>
                </div>
            </div>
			
            <div class="tab" tab="own">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("recruiter", "own") #></a></div>
                </div>
            </div>
            <div class="tab" tab="logs">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("recruiter", "logs") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">
        
        <!-- presets -->

        <div class="box-paper footer has-footer-upper twOverflow-content-presets">			
            <h5 class="twx-section"><#= locale("recruiter", "recruit.presets") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="32%">
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th><#= locale("recruiter", "group") #></th>
                            <th><#= locale("recruiter", "preset") #></th>
                            <th><#= locale("recruiter", "presetfinal") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select data-setting="group1" class="group1"></select>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset1" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset5" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group2" class="group2"></select>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset2" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset6" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group3" class="group3"></select>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset3" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset7" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group4" class="group4"></select>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset4" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset8" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/preset") #>">
                            </td>
						</tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- own -->

        <div class="box-paper footer has-footer-upper twOverflow-content-own">			
            <h5 class="twx-section"><#= locale("recruiter", "recruit.own") #></h5>
            <form class="addForm">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="35%">
                        <col width="40%">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th><#= locale("recruiter", "group") #></th>
                            <th><#= locale("recruiter", "unit") #></th>
                            <th><#= locale("recruiter", "amount") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select data-setting="group5" class="group5"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit1" class="dataUnit1" id="unit1">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount1" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group6" class="group6"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit2" class="dataUnit2" id="unit2">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount2" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group7" class="group7"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit3" class="dataUnit3" id="unit3">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount3" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group8" class="group8"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit4" class="dataUnit4" id="unit4">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount4" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group9" class="group9"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit5" class="dataUnit5" id="unit5">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount5" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group10" class="group10"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit6" class="dataUnit6" id="unit6">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount6" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group11" class="group11"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit7" class="dataUnit7" id="unit7">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount7" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group12" class="group12"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit8" class="dataUnit8" id="unit8">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount8" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group13" class="group13"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit9" class="dataUnit9" id="unit9">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount9" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group14" class="group14"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit10" class="dataUnit10" id="unit10">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount10" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group15" class="group15"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit11" class="dataUnit11" id="unit11">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount11" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group16" class="group16"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit12" class="dataUnit12" id="unit12">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount12" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group17" class="group17"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit13" class="dataUnit13" id="unit13">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount13" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group18" class="group18"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit14" class="dataUnit14" id="unit14">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount14" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group19" class="group19"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit15" class="dataUnit15" id="unit15">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount15" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group20" class="group20"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit16" class="dataUnit16" id="unit16">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount16" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group21" class="group21"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit17" class="dataUnit17" id="unit17">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount17" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group22" class="group22"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit18" class="dataUnit18" id="unit18">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount18" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group23" class="group23"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit19" class="dataUnit19" id="unit19">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount19" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                        <tr>
                            <td>
                                <select data-setting="group24" class="group24"></select>
                            </td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataUnit20" class="dataUnit20" id="unit20">
                                        <option value="none"><#= locale("recruiter", "none") #></option>
                                        <option value="spear"><#= locale("common", "spear") #></option>
                                        <option value="sword"><#= locale("common", "sword") #></option>
                                        <option value="axe"><#= locale("common", "axe") #></option>
                                        <option value="archer"><#= locale("common", "archer") #></option>
                                        <option value="light_cavalry"><#= locale("recruiter", "light_cavalry") #></option>
                                        <option value="mounted_archer"><#= locale("recruiter", "mounted_archer") #></option>
                                        <option value="heavy_cavalry"><#= locale("recruiter", "heavy_cavalry") #></option>
                                        <option value="ram"><#= locale("common", "ram") #></option>
                                        <option value="catapult"><#= locale("common", "catapult") #></option>
                                        <option value="trebuchet"><#= locale("common", "trebuchet") #></option>
                                        <option value="doppelsoldner"><#= locale("common", "doppelsoldner") #></option>
                                        <option value="snob"><#= locale("common", "snob") #></option>
                                    </select>
                                </span>
                            </td>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="amount20" value="" autocomplete="off" placeholder="<#= locale("recruiter", "entry/amount") #>">
                            </td>
						</tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="box-paper footer has-footer-upper twOverflow-content-logs">
            <table class="tbl-border-light tbl-striped header-center">
                <colgroup>
                    <col width="40%">
                    <col width="30%">
                    <col width="5%">
                    <col width="25%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th><#= locale("common", "village") #></th>
                        <th><#= locale("recruiter", "unit") #></th>
                        <th><#= locale("recruiter", "amount") #></th>
                        <th><#= locale("common", "started") #></th>
                    </tr>
                </thead>
                <tbody class="recruitLog">
                    <tr class="noRecruits">
                        <td colspan="4"><#= locale("recruiter", "logs.noRecruits") #></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="win-foot">
        <ul class="list-btn list-center buttons">
            <li class="twOverflow-button-presets">
                <a class="btn-orange btn-border clear"><#= locale("recruiter", "clear") #></a>
                <a class="btn-green btn-border switch"><#= locale("recruiter", "start") #></a>
            </li>
            <li class="twOverflow-button-own">
                <a class="btn-orange btn-border clear2"><#= locale("recruiter", "clear") #></a>
                <a class="btn-green btn-border switch2"><#= locale("recruiter", "start") #></a>
            </li>
            <li class="twOverflow-button-logs">
                <a class="btn-orange btn-border clearLogs"><#= locale("recruiter", "logs.clear") #></a>
            </li>
        </ul>
    </footer>
</div>
